.sbtopts
*.class
*.log
lo
.project
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*~
.idea
.idea/
# Scala-IDE specific
.scala_dependencies
.worksheet
ansible/examples/
metastore_db
log
ansible/ansible/
ansible/ansible log path
hive-exec-1.2.1000.2.6.1.0-129.jar
iuberdata_core/project/project/
iuberdata_core/src/main/scala/org/apache/hive/
iuberdata_core/src/main/scala/org/apache/spark/hive/
lib/
logs/
project/project/
uberdata-zeppelin-0.2.0.jar
